@charset "utf-8";

/* 폰트 */
@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'CBNUJIKJI';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/CBNUJIKJI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 공통 */
a {
    text-decoration: none;
}
.section {
    overflow: hidden;
}
body {
    font-family: 'Pretendard-Regular';
}
html {
    scroll-behavior: smooth;
}
h2 {
    font-size: 2.0833vw;
    color: #0d0d0d;
    margin-bottom: 1.0417vw;
    font-weight: bold;
    font-family: 'ghanachoco';
}

/* 메뉴영역 */
nav {
    position: fixed;
    top: 3vw;
    right: 3vw;
    z-index: 10;
    width: 26.0417vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}
nav i {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: #0d0d0d;
    font-size: 1.7vw;
    color: #c5a7d9;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}
nav i::before {
    line-height: 3vw;
}
nav ul {
    width: 22vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: -26vw;
    transition: all .7s ease-in-out;
}
nav ul li a {
    font-size: 1vw;
    color: #555;
    font-weight: bold;
    transition: all .3s;
}
nav ul li a:hover {
    color: #a36cd9;
}
nav ul.modal {
    right: 3.8vw;
}

@media (max-width: 768px) {
    nav {
        position: fixed;
        top: 3vw;
        right: 1.5vw;
        z-index: 10;
        width: 6.5vw;
        height: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
    }
    nav i {
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
        background-color: #0d0d0d;
        font-size: 1.7vw;
        color: #c5a7d9;
        text-align: center;
        cursor: pointer;
        z-index: 1;
    }
    nav i::before {
        line-height: 3vw;
    }
    nav ul {
        width: 10vw;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: -16vw;
        right: -25%;
        transition: all .7s ease-in-out;
    }
    nav ul li a {
        font-size: 0.5vw;
        color: #555;
        transition: all .3s;
    }
    nav ul li a:hover {
        color: #a36cd9;
    }
    nav ul.modal {
        top: 4vw;
        right: -25%;
    }
}

@media (max-width: 480px) {
    nav {
        display: none;
    }
}

/* home영역 */
.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.0417vw 0;
}
.home .text_box {
    width: 40%;
    position: relative;
    box-sizing: border-box;
    padding-left: 2.0417vw;
}
.home .text_box h1 div:first-child {
    font-family: 'ghanachoco';
    font-size: 6.6667vw;
    margin-bottom: 0.7813vw;
}
.home .text_box h1 div:last-child {
    font-family: 'ghanachoco';
    font-size: 3.75vw;
    margin-bottom: 2.6042vw;
    color: #555;
}
.home .text_box #textTyping {
    font-family: 'Pretendard-Regular';
    font-size: 1.875vw;
    color: #555;
    display: block;
    margin-bottom: 5.2083vw;
}
.home .text_box .scroll_down {
    position: absolute;
    width: 1.25vw;
    height: 1.25vw;
    left: 50%;
    bottom: -10.4167vw;
}
.home .text_box .scroll_down .chevron {
    position: absolute;
    width: 1.4583vw;
    height: 0.4167vw;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}
.home .text_box .scroll_down .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}
.home .text_box .scroll_down .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}
.home .text_box .scroll_down .chevron:before,
.home .text_box .scroll_down .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #777;
}
.home .text_box .scroll_down .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}
.home .text_box .scroll_down .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}
.home .text_box .scroll_down .text {
    position: absolute;
    top: 310%;
    left: -110%;
    font-family: 'Pretendard-Regular';
    font-size: 0.625vw;
    color: #777;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }

.home .photo_box {
    width: 50%;
}
.home .photo_box ul {
    height: 95%;
    display: flex;
    flex-wrap: wrap;
}
.home .photo_box ul li {
    height: 13.3333vw;
    line-height: 13.3333vw;
    font-size: 1.0417vw;
    text-align: center;
    width: 33.3333%;
    position: relative;
    overflow: hidden;
    font-family: 'ghanachoco';
}
.home .photo_box ul li:hover span {
    position: relative;
	display: inline-block;
	animation: animate 1s .5s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
}
.home .photo_box ul li:nth-of-type(1) > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 10vw 0 0;
    background-color: #c5a7d9;
    transition: all 1s ease-in;
    box-sizing: border-box;
}
.home .photo_box ul li:nth-of-type(1):hover > div {
    transform: rotate(-90deg);
    transform-origin: 0 100% 0;
    top: -100%;
    left: -100%;
    transition: all 1.5s ease-out;
}
.home .photo_box ul li:nth-of-type(2) > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E4CEF2;
    transition: all 1s ease-in;
}
.home .photo_box ul li:nth-of-type(2):hover > div {
    top: -100%;
    transition: all 1.5s ease-out;
}

.home .photo_box ul li:nth-of-type(3) > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 10vw 0 0 0;
    background-color: #0d0d0d;
    color: #E4CEF2;
    line-height: 20.8333vw;
    font-size: 1.5625vw;
}
.home .photo_box ul li:nth-of-type(4) {
    width: 66.6666%;
    height: 13.3333vw;
}
.home .photo_box ul li:nth-of-type(4) .img_box {
    width: 100%;
    height: 100%;
    border-radius: 10vw 0 10vw 0;
    background: url(../images/main_img01.jpg) no-repeat;
    background-size: 100% auto;
    background-position: bottom 20% center;
}
.home .photo_box ul li:nth-of-type(5) > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 0 10vw;
    background-color: #a36cd9;
    transition: all 1s ease-in;
}
.home .photo_box ul li:nth-of-type(5):hover > div {
    transform: rotateZ(-90deg);
    transform-origin: right top;
    right: -100%;
    transition: all 1.5s ease-out;
}
.home .photo_box ul li:nth-of-type(6) > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10vw 0;
    background-color: #0d0d0d;
    color: #E4CEF2;
    font-size: 1.5625vw;
}
.home .photo_box ul li:nth-of-type(7) > div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 7.2604vw;
    background-color: #c5a7d9;
    transition: all 1s ease-in;
}
.home .photo_box ul li:nth-of-type(7):hover > div {
    bottom: -100%;
    transition: all 1.5s ease-out;
}
.home .photo_box ul li:nth-of-type(8) .img_box {
    width: 100%;
    height: 100%;
    border-radius: 10vw 0 0 0;
    background: url(../images/main_img02.jpg) no-repeat;
    background-size: 100% auto;
    background-position: bottom 50% center;
}
.home .photo_box ul li:nth-of-type(9) > div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E4CEF2;
    transition: all 1s ease-in;
}
.home .photo_box ul li:nth-of-type(9):hover > div {
    left: -100%;
    transition: all 1.5s ease-out;
}
.home .photo_box ul li:nth-of-type(10) > div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 10vw 0 0;
    background-color: #b796d9;
    transition: all 1s ease-in;
}
.home .photo_box ul li:nth-of-type(10):hover > div {
    transform: rotateZ(90deg);
    transform-origin: bottom left;
    bottom: -100%;
    transition: all 1.5s ease-out;
}
.home .photo_box ul li:nth-of-type(11) > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 10vw 0 10vw;
    background-color: #0d0d0d;
    line-height: 20.8333vw;
    text-align: right;
    color: #E4CEF2;
    font-size: 1.5625vw;
}

/* home영역 반응형으로 변경 */
@media (max-width: 768px) {
    .home .text_box {
        margin-left: 2.6042vw;
    }
    .home .text_box .scroll_down .text {
        top: 320%;
        left: -330%;
    }
    .home .photo_box ul li {
        font-size: 0.7813vw;
    }
}

@media (max-width: 480px) {
    .home {
        flex-direction: column-reverse;
    }
    .home .text_box {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10vw;
        text-align: center;
    }
    .home .text_box h1 div:first-child {
        font-size: 9vw;
    }
    .home .text_box h1 div:last-child {
        font-size: 4.5vw;
    }
    .home .text_box #textTyping {
        font-size: 2.5vw;
    }
    .home .text_box .scroll_down {
        display: none;
    }
    .home .photo_box {
        width: 95%;
        margin: 1.5vw 0 7vw;
    }
    .home .photo_box ul li {
        height: 25vw;
        line-height: 25vw;
    }
    .home .photo_box ul li:nth-of-type(1) > div {
        border-radius: 0 17vw 0 0;
    }
    .home .photo_box ul li:nth-of-type(3) > div {
        border-radius: 17vw 0 0 0;
        line-height: 40vw;
        font-size: 3vw;
    }
    .home .photo_box ul li:nth-of-type(4) {
        width: 66.6666%;
        height: 25vw;
    }
    .home .photo_box ul li:nth-of-type(4) .img_box {
        border-radius: 17vw 0 17vw 0;
    }
    .home .photo_box ul li:nth-of-type(5) > div {
        border-radius: 0 0 0 17vw;
    }
    .home .photo_box ul li:nth-of-type(6) > div {
        border-radius: 0 0 17vw 0;
        line-height: 25vw;
        font-size: 3vw;
    }
    .home .photo_box ul li:nth-of-type(7) > div {
        border-radius: 13.2604vw;
    }
    .home .photo_box ul li:nth-of-type(8) .img_box {
        border-radius: 17vw 0 0 0;
    }
    .home .photo_box ul li:nth-of-type(10) > div {
        border-radius: 0 17vw 0 0;
    }
    .home .photo_box ul li:nth-of-type(11) > div {
        border-radius: 0 17vw 0 17vw;
        line-height: 40vw;
        font-size: 3vw;
    }
}

/* 프로필영역 */
.profile {
    height: 48.9583vw;
    background-color: #E4CEF2;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.profile .left_box {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5.5625vw;
}
.profile .left_box h2 {
    margin-bottom: 3vw;
}
.profile .left_box ul {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile .left_box ul li ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.profile .left_box .about ul li ul li {
    width: 100%;
    font-size: 1.0417vw;
    font-weight: bold;
}
.profile .left_box .about ul li {
    width: 33%;
    margin-left: 0.625vw;
    box-sizing: border-box;
}
.profile .left_box .about ul li ul li:first-child {
    font-size: 1.3vw;
}
.profile .left_box .about ul li ul li:first-child::after {
    content: '';
    display: block;
    width: 70%;
    height: 0.1563vw;
    background-color: #000;
    margin: 0.5vw 0 1.0417vw;
}
.profile .left_box .skills ul li {
    width: 16.666%;
}
.profile .left_box .skills ul li ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile .left_box .skills ul li ul li {
    width: 90%;
    text-align: center;
    font-size: 1.0417vw;
    font-weight: bold;
}
.profile .left_box .skills ul li ul li:first-child {
    height: 7.8125vw;
}
.profile .left_box .skills ul > li:nth-of-type(1) ul li:first-child {
    background: url(../images/htmlImg.png) center no-repeat;
    background-size: 100% auto;
}
.profile .left_box .skills ul > li:nth-of-type(2) ul li:first-child {
    background: url(../images/cssImg.png) center no-repeat;
    background-size: 100% auto;
}
.profile .left_box .skills ul > li:nth-of-type(3) ul li:first-child {
    background: url(../images/jsImg.png) center no-repeat;
    background-size: 100% auto;
}
.profile .left_box .skills ul > li:nth-of-type(4) ul li:first-child {
    background: url(../images/jqueryImg.png) center no-repeat;
    background-size: 100% auto;
}
.profile .left_box .skills ul > li:nth-of-type(5) ul li:first-child {
    background: url(../images/sassImg.png) center no-repeat;
    background-size: 100% auto;
}
.profile .left_box .skills ul > li:nth-of-type(6) ul li:first-child {
    background: url(../images/reactImg.svg) center no-repeat;
    background-size: 100% auto;
}


.profile .right_box {
    height: 100%;
    width: 30%;
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile .right_box .line-scale {
    width: 2.6042vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.2083vw;
}
.profile .right_box .line-scale > div {
    background-color: #a36cd9;
    width: 0.2083vw;
    height: 2.5vw;
    border-radius: 0.1042vw;
    margin: 0.1042vw;
    animation-fill-mode: both;
    display: inline-block;
    animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}
.profile .right_box .line-scale > div:nth-of-type(2n) {
    animation-delay: -0.4s !important;
}
.profile .right_box .line-scale > div:nth-of-type(1), .profile .right_box .line-scale > div:nth-of-type(5) {
    animation-delay: -0.2s !important;
}
.profile .right_box .profile_img {
    width: 60%;
    height: 18.9656vw;
    border-radius: 50%;
    background: url(../images/profile_img.jpg) no-repeat;
    background-size: 100% auto;
    background-position: top center;
    position: relative;
    margin-top: 1.5625vw;
}
.profile .right_box h3 {
    font-size: 1.2vw;
    color: #fff;
    margin: 2vw auto 2.5vw;
    font-family: 'ghanachoco';
}
.profile .right_box p {
    width: 80%;
    font-size: 1.0417vw;
    color: #d9d9d9;
    text-align: center;
    line-height: 1.45vw;
}

@media (max-width: 768px) {
    .profile .right_box h3 {
        text-align: center;
    }
    .profile .right_box h3 span {
        display: block;
        margin-top: 0.4vw;
    }
    .profile .right_box p {
        width: 75%;
        height: 7.8125vw;
        font-size: 1vw;
        line-height: 1.55vw;
    }
    .profile .right_box p span {
        display: none;
    }
}
@media (max-width: 480px) {
    .profile {
        height: 130vw;
        flex-direction: column-reverse;
    }
    .profile .right_box {
        width: 100%;
        height: 60%;
        justify-content: center;
    }
    .profile .right_box .line-scale {
        margin-top: 0;
    }
    .profile .right_box .profile_img {
        width: 40.43%;
        height: 50%;
    }
    .profile .right_box p {
        width: 71%;
        line-height: 2.7vw;
    }

    .profile .left_box {
        width: 80%;
        height: 40%;
    }
    .profile .left_box .skills ul li ul li:first-child {
        height: 12vw;
    }
}


/* 퍼블리싱영역 */
.publishing {
    height: 45vw;
    box-sizing: border-box;
    position: relative;
}
.publishing h2 {
    width: 81%;
    margin: 5vw auto 1vw;
}
.publishing .publishingWrap {
    position: relative;
    width: 85%;
    height: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.publishing .publishingWrap .publishingSlider {
    position: absolute;
    left: 0;
    top: 0;
    height: 90%;
    white-space:nowrap;
}
.publishing .publishingWrap .publishingSlider.animate {
    transition: 0.5s ease-out;
}
.publishing .publishingWrap .publishingSlider li {
    width: 27.5521vw;
    height: 88%;
    margin-top: 2vw;
    display: inline-block;
    box-shadow: 0 28px 16px -26px rgba(0,0,0,0.5);
    transition: all .4s ease-in-out;
    margin-right: 0.8vw;
}
.publishing .publishingWrap .publishingSlider li:hover {
    transform: translateY(-2vw);
    box-shadow: 0 58px 36px -56px rgba(0,0,0,0.5);
}
.publishing .publishingWrap .publishingSlider li .imgBox {
    width: 90%;
    height: 70%;
    margin: 0.5208vw auto 1.0417vw;
    overflow: hidden;
}
.publishing .publishingWrap .publishingSlider li .imgBox img {
    width: 100%;
}
.publishing .publishingWrap .publishingSlider li.drg .imgBox img {
    height: 100%;
    width: auto;
}
.publishing .publishingWrap .publishingSlider li .textBox {
    width: 85%;
    margin: 1.5vw auto 1.6vw;
}
.publishing .publishingWrap .publishingSlider li .textBox h4 {
    font-size: 1.5vw;
    font-family: 'CBNUJIKJI';
}
.publishing .publishingWrap .publishingSlider li .textBox h4 span {
    font-size: 1vw;
    color: #495057;
}
.publishing .publishingWrap .publishingSlider li .btnWrap {
    width: 85%;
    margin: 0 auto;
}
.publishing .publishingWrap .publishingSlider li .btnWrap a {
    display: block;
    width: 40%;
    height: 2.5vw;
    margin: 0 auto;
    border: 0.3vw solid #c5a7d9;
    border-radius: 1.2vw;
    box-sizing: border-box;
    text-align: center;
    line-height: 2vw;
    color: #c5a7d9;
    transition: all .3s;
}
.publishing .publishingWrap .publishingSlider li .btnWrap a:hover {
    background-color: #c5a7d9;
    color: #fff;
}
.publishing .publishingWrap .publishingSlider li .btnWrap a:active {
    background-color: #b796d9;
    border-color: #b796d9;
}

.publishing .publishingWrap .controller {
    position: absolute;
    bottom: 1.3vw;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.publishing .publishingWrap .controller button {
    width: 2.6042vw;
    height: 2.6042vw;
    border-radius: 50%;
    background-color: #868e96;
    outline: none;
    border: none;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.25);
    margin: 0 3vw;
    cursor: pointer;
    color: #fff;
    font-size: 1.3vw;
}
.publishing .publishingWrap .controller button:hover {
    background-color: #adb5bd;
}
.publishing .publishingWrap .controller button:active {
    background-color: #495057;
    box-shadow: none;
}

@media (max-width: 768px) {
    .publishing .publishingWrap .publishingSlider li {
        width: 30vw;
        margin-right: 0.49vw;
    }
    .publishing .publishingWrap .publishingSlider li .btnWrap a {
        font-size: 0.8vw;
    }
    .publishing .publishingWrap .publishingSlider li .btnWrap a span {
        display: none;
    }
}
@media (max-width: 480px) {
    .publishing {
        height: 90vw;
    }
    .publishing h2 {
        font-size: 5vw;
        text-align: center;
        margin: 8vw auto 5vw;
    }
    .publishing .publishingWrap .publishingSlider li {
        width: 69.6875vw;
        margin-right: 12.8vw;
    }
    .publishing .publishingWrap .publishingSlider li .textBox h4 {
        text-align: center;
        font-size: 3.5vw;
        margin: 3vw 0 3.5vw;
    }
    .publishing .publishingWrap .publishingSlider li .btnWrap a {
        width: 35%;
        height: 3.5vw;
        line-height: 3.5vw;
    }
    .publishing .publishingWrap .publishingSlider li .btnWrap a span {
        display: inline;
    }
    .publishing .publishingWrap .controller {
        bottom: 5.5vw;
    }
    .publishing .publishingWrap .controller button {
        width: 5vw;
        height: 5vw;
        font-size: 3vw;
    }
}


/* 스크립트영역 */
.script {
    height: 50vw;
    background-color: #c5a7d9;
    overflow: hidden;
}
.script h2 {
    width: 81%;
    margin: 4vw auto 3vw;
}
.script .scriptWrap {
    width: 81%;
    margin: 0 auto;
}
.script .scriptWrap ul {
    width: 100%;
    height: 36.4583vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.script .scriptWrap ul li {
    position: relative;
    overflow: hidden;
    width: calc(50% - 1.0417vw);
    height: 17vw;
    background-color: #f8f9fa;
}
.script .scriptWrap ul li .video {
    height: 105%;
    position: absolute;
    top: -0.2vw;
}
.script .scriptWrap ul li .rightWhiteBox {
    width: 30%;
    height: 100%;
    background-color: #0d0d0d;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}
.script .scriptWrap ul li .rightWhiteBox h4 {
    font-family: 'CBNUJIKJI';
    font-size: 1.5vw;
    color: #f8f9fa;
    margin: 5vw 0 1.5vw;
}
.script .scriptWrap ul li .rightWhiteBox .btnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.script .scriptWrap ul li .rightWhiteBox .btnBox a {
    width: 40%;
    height: 2vw;
    margin-bottom: 1vw;
    border: 0.25vw solid #c5a7d9;
    border-radius: 1.2vw;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.55vw;
    color: #c5a7d9;
    font-size: 1vw;
    transition: all .3s;
}
.script .scriptWrap ul li .rightWhiteBox .btnBox a:hover {
    background-color: #c5a7d9;
    color: #fff;
}
.script .scriptWrap ul li .rightWhiteBox .btnBox a:active {
    background-color: #b796d9;
    border-color: #b796d9;
}

@media (max-width: 768px) {
    
}
@media (max-width: 480px) {
    .script {
        height: 130vw;
    }
    .script h2 {
        font-size: 5vw;
        text-align: center;
        margin: 8vw auto 5vw;
    }
    .script .scriptWrap ul li {
        width: 80%;
        height: 25vw;
        margin: 0 auto 2vw;
    }
    .script .scriptWrap ul li .rightWhiteBox h4 {
        font-size: 3vw;
    }
    .script .scriptWrap ul li .rightWhiteBox .btnBox a {
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
        line-height: 5vw;
        font-size: 0.5vw;
    }
}

/* 컨택트영역 */
.contact {
    height: 21vw;
    background-color: #2e2e2e;
    color: #fff;
    overflow: hidden;
}
.contact h2 {
    width: 81%;
    margin: 4vw auto 3vw;
    color: #fff;
}
.contact .contactWrap {
    width: 50%;
    height: 5vw;
    margin: 0 auto 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact .contactWrap > div {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.contact .contactWrap div > div {
    display: flex;
    align-items: center;
}
.contact .contactWrap div > a {
    font-size: 1.5833vw;
    color: #b9b9b9;
}
.contact .contactWrap div > a i {
    color: #a36cd9;
    font-size: 1.6667vw;
    margin-right: 1.0417vw;
}
.contact .contactWrap > div > div i {
    color: #a36cd9;
    font-size: 1.6667vw;
    margin-right: 1.0417vw;
}
.contact .contactWrap > div > div p {
    font-size: 1.5833vw;
    color: #b9b9b9;
}
.contact > p {
    font-size: 0.7292vw;
    color: #ccc;
    text-align: center;
}

@media (max-width: 768px) {
    
}
@media (max-width: 480px) {
    .contact {
        height: 50vw;
    }
    .contact h2 {
        font-size: 5vw;
        text-align: center;
        margin: 8vw auto 5vw;
    }
    .contact .contactWrap {
        flex-direction: column;
        height: 20vw;
    }
    .contact .contactWrap > div {
        width: 70%;
        margin-bottom: 2vw;
    }
    .contact .contactWrap div > a {
        font-size: 3vw;
    }
    .contact .contactWrap div > a i {
        font-size: 3.2vw;
    }
    .contact .contactWrap > div > div i {
        font-size: 3.2vw;
    }
    .contact .contactWrap > div > div p {
        font-size: 3vw;
    }
}




/* 애니메이션영역 */
@keyframes animate {
	0% {
		transform: translateY(0px);
	}
	30% {
		transform: translateY(-1.5625vw);
	}
	80%,
	100% {
		transform: translateY(0px);
	}
}
@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(1.5625vw);
    }

    67% {
        opacity: 1;
        transform: translateY(2.0833vw);
    }

    100% {
        opacity: 0;
        transform: translateY(3.2604vw) scale3d(0.5, 0.5, 0.5);
    }
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}
@keyframes line-scale-pulse-out {
    0% {
      -webkit-transform: scaley(1);
      transform: scaley(1);
    }
    50% {
      -webkit-transform: scaley(0.4);
      transform: scaley(0.4);
    }
    100% {
      -webkit-transform: scaley(1);
      transform: scaley(1);
    }
}