@charset "utf-8";

/* 폰트 */
@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/* 공통 */
a {
    text-decoration: none;
}
.section {
    overflow: hidden;
}
body {
    font-family: 'Pretendard-Regular';
}
html {
    scroll-behavior: smooth;
}
h2 {
    font-size: 2.0833vw;
    color: #0d0d0d;
    margin-bottom: 1.0417vw;
    font-weight: bold;
    font-family: 'ghanachoco';
}

/* 메뉴영역 */
/* nav {
    position: fixed;
    bottom: 0;
    left: -100%;
    transition: all .5s;
    z-index: 10;
    width: 14%;
    height: 100%;
    background-color: rgba(101,90,112,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav p {
    display: inline-block;
    width: 80%;
    height: 2.0833vw;
    line-height: 40.1563vw;
    text-align: center;
    margin-bottom: 1.5625vw;
    font-size: 0.8333vw;
    color: #0d0d0d;
    font-family: 'ghanachoco';
}
nav p span {
    font-style: italic;
}
nav > a {
    display: block;
    width: 80%;
    height: 2.0833vw;
    line-height: 40.1563vw;
    text-align: center;
    margin-bottom: 1.5625vw;
    font-size: 0.8333vw;
    color: #d9d9d9;
    text-transform: uppercase;
    background-color: rgba(101,90,112,0.9);
    border-radius: 1.0417vw;

    box-shadow: 0 0.2083vw  0.2083vw  rgba(0, 0, 0, .1),
              0 0.0521vw  0.3125vw  rgba(0, 0, 0, .05),
              0 0.4167vw  0.4167vw  rgba(0, 0, 0, .1), 
              0 10.3125vw 10.3125vw rgba(0, 0, 0, .1), 
              0.4167vw 30.1042vw 30.1042vw rgba(0, 0, 0, .15), 
              0.4167vw 60.2083vw 60.2083vw rgba(0, 0, 0, .15);
}
nav ul {
    height: 26.0417vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
nav ul li {
    position: relative;
    width: 280.2604vw;
    height: 20%;
    line-height: 5.2083vw;
}
nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1.25vw;
    color: #f9f9f9;
    padding-left: 4.1667vw;
}
.clicked {
    content: "";
    display: inline-block;
    width: 22.0833vw;
    height: 5.2083vw;
    line-height: 5.2083vw;
    border-radius: 0 2.6042vw 2.6042vw 0;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 10.2083vw 1.4583vw rgba(0,0,0,0.25), 0 0.5208vw 0.5208vw rgba(0,0,0,0.22);
    transition: all .5s;
    transition: border-radius 0s;
    color: #655A70;
    font-weight: bold;
}
.clicked::after {
    content: "";
    display: inline-block;
    width: 50.2604vw;
    height: 50.2604vw;
    background: url(../images/menu_arrow.png) center no-repeat;
    background-size: 100% auto;
    position: absolute;
    right: 1.0417vw;
    top: 50%;
    transform: translateY(-50%);
}
nav.fixed {
    left: 0;
    transition: all .5s;
}
nav.on {
    bottom: 15.625vw;
    justify-content: flex-end;
} */

/* home영역 */
.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.0417vw 0;
}
.home .text_box {
    width: 40%;
    position: relative;
    box-sizing: border-box;
    padding-left: 2.0417vw;
}
.home .text_box h1 div:first-child {
    font-family: 'ghanachoco';
    font-size: 6.6667vw;
    margin-bottom: 0.7813vw;
}
.home .text_box h1 div:last-child {
    font-family: 'ghanachoco';
    font-size: 3.75vw;
    margin-bottom: 2.6042vw;
    color: #555;
}
.home .text_box #textTyping {
    font-family: 'Pretendard-Regular';
    font-size: 1.875vw;
    color: #555;
    display: block;
    margin-bottom: 5.2083vw;
}
.home .text_box .scroll_down {
    position: absolute;
    width: 1.25vw;
    height: 1.25vw;
    left: 50%;
    bottom: -10.4167vw;
}
.home .text_box .scroll_down .chevron {
    position: absolute;
    width: 1.4583vw;
    height: 0.4167vw;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}
.home .text_box .scroll_down .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}
.home .text_box .scroll_down .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}
.home .text_box .scroll_down .chevron:before,
.home .text_box .scroll_down .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #777;
}
.home .text_box .scroll_down .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}
.home .text_box .scroll_down .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}
.home .text_box .scroll_down .text {
    position: absolute;
    top: 310%;
    left: -110%;
    font-family: 'Pretendard-Regular';
    font-size: 0.625vw;
    color: #777;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }

.home .photo_box {
    width: 50%;
}
.home .photo_box ul {
    height: 95%;
    display: flex;
    flex-wrap: wrap;
}
.home .photo_box ul li {
    height: 13.3333vw;
    line-height: 13.3333vw;
    font-size: 1.0417vw;
    text-align: center;
    width: 33.3333%;
    position: relative;
    overflow: hidden;
    font-family: 'ghanachoco';
}
.home .photo_box ul li:hover span {
    position: relative;
	display: inline-block;
	animation: animate 1s .5s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
}
.home .photo_box ul li:nth-of-type(1) > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 10vw 0 0;
    background-color: #c5a7d9;
    transition: all 1s ease-in;
    box-sizing: border-box;
}
.home .photo_box ul li:nth-of-type(1):hover > div {
    transform: rotate(-90deg);
    transform-origin: 0 100% 0;
    top: -100%;
    left: -100%;
    transition: all 1.5s ease-out;
}
.home .photo_box ul li:nth-of-type(2) > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E4CEF2;
    transition: all 1s ease-in;
}
.home .photo_box ul li:nth-of-type(2):hover > div {
    top: -100%;
    transition: all 1.5s ease-out;
}

.home .photo_box ul li:nth-of-type(3) > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 10vw 0 0 0;
    background-color: #0d0d0d;
    color: #E4CEF2;
    line-height: 20.8333vw;
    font-size: 1.5625vw;
}
.home .photo_box ul li:nth-of-type(4) {
    width: 66.6666%;
    height: 13.3333vw;
}
.home .photo_box ul li:nth-of-type(4) .img_box {
    width: 100%;
    height: 100%;
    border-radius: 10vw 0 10vw 0;
    background: url(../images/main_img01.jpg) no-repeat;
    background-size: 100% auto;
    background-position: bottom 20% center;
}
.home .photo_box ul li:nth-of-type(5) > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 0 10vw;
    background-color: #a36cd9;
    transition: all 1s ease-in;
}
.home .photo_box ul li:nth-of-type(5):hover > div {
    transform: rotateZ(-90deg);
    transform-origin: right top;
    right: -100%;
    transition: all 1.5s ease-out;
}
.home .photo_box ul li:nth-of-type(6) > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10vw 0;
    background-color: #0d0d0d;
    color: #E4CEF2;
    font-size: 1.5625vw;
}
.home .photo_box ul li:nth-of-type(7) > div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 7.2604vw;
    background-color: #c5a7d9;
    transition: all 1s ease-in;
}
.home .photo_box ul li:nth-of-type(7):hover > div {
    bottom: -100%;
    transition: all 1.5s ease-out;
}
.home .photo_box ul li:nth-of-type(8) .img_box {
    width: 100%;
    height: 100%;
    border-radius: 10vw 0 0 0;
    background: url(../images/main_img02.jpg) no-repeat;
    background-size: 100% auto;
    background-position: bottom 50% center;
}
.home .photo_box ul li:nth-of-type(9) > div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E4CEF2;
    transition: all 1s ease-in;
}
.home .photo_box ul li:nth-of-type(9):hover > div {
    left: -100%;
    transition: all 1.5s ease-out;
}
.home .photo_box ul li:nth-of-type(10) > div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 10vw 0 0;
    background-color: #b796d9;
    transition: all 1s ease-in;
}
.home .photo_box ul li:nth-of-type(10):hover > div {
    transform: rotateZ(90deg);
    transform-origin: bottom left;
    bottom: -100%;
    transition: all 1.5s ease-out;
}
.home .photo_box ul li:nth-of-type(11) > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 10vw 0 10vw;
    background-color: #0d0d0d;
    line-height: 20.8333vw;
    text-align: right;
    color: #E4CEF2;
    font-size: 1.5625vw;
}

/* 220224 home영역 반응형으로 변경 */
@media (max-width: 768px) {
    .home .text_box {
        margin-left: 2.6042vw;
    }
    .home .text_box .scroll_down .text {
        top: 320%;
        left: -330%;
    }
    .home .photo_box ul li {
        font-size: 0.7813vw;
    }
}

@media (max-width: 480px) {
    .home {
        flex-direction: column-reverse;
    }
    .home .text_box {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10vw;
        text-align: center;
    }
    .home .text_box h1 div:first-child {
        font-size: 9vw;
    }
    .home .text_box h1 div:last-child {
        font-size: 4.5vw;
    }
    .home .text_box #textTyping {
        font-size: 2.5vw;
    }
    .home .text_box .scroll_down {
        display: none;
    }
    .home .photo_box {
        width: 95%;
        margin: 1.5vw 0 7vw;
    }
    .home .photo_box ul li {
        height: 25vw;
        line-height: 25vw;
    }
    .home .photo_box ul li:nth-of-type(1) > div {
        border-radius: 0 17vw 0 0;
    }
    .home .photo_box ul li:nth-of-type(3) > div {
        border-radius: 17vw 0 0 0;
        line-height: 40vw;
        font-size: 3vw;
    }
    .home .photo_box ul li:nth-of-type(4) {
        width: 66.6666%;
        height: 25vw;
    }
    .home .photo_box ul li:nth-of-type(4) .img_box {
        border-radius: 17vw 0 17vw 0;
    }
    .home .photo_box ul li:nth-of-type(5) > div {
        border-radius: 0 0 0 17vw;
    }
    .home .photo_box ul li:nth-of-type(6) > div {
        border-radius: 0 0 17vw 0;
        line-height: 25vw;
        font-size: 3vw;
    }
    .home .photo_box ul li:nth-of-type(7) > div {
        border-radius: 13.2604vw;
    }
    .home .photo_box ul li:nth-of-type(8) .img_box {
        border-radius: 17vw 0 0 0;
    }
    .home .photo_box ul li:nth-of-type(10) > div {
        border-radius: 0 17vw 0 0;
    }
    .home .photo_box ul li:nth-of-type(11) > div {
        border-radius: 0 17vw 0 17vw;
        line-height: 40vw;
        font-size: 3vw;
    }
}

/* 프로필영역 */
.profile {
    height: 48.9583vw;
    background-color: #E4CEF2;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.profile .left_box {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5.5625vw;
}
.profile .left_box h2 {
    margin-bottom: 3vw;
}
.profile .left_box ul {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile .left_box ul li ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.profile .left_box .about ul li ul li {
    width: 100%;
    font-size: 1.0417vw;
    font-weight: bold;
}
.profile .left_box .about ul li {
    width: 33%;
    margin-left: 0.625vw;
    box-sizing: border-box;
}
.profile .left_box .about ul li ul li:first-child {
    font-size: 1.3vw;
}
.profile .left_box .about ul li ul li:first-child::after {
    content: '';
    display: block;
    width: 70%;
    height: 0.1563vw;
    background-color: #000;
    margin: 0.5vw 0 1.0417vw;
}
.profile .left_box .skills ul li {
    width: 16.666%;
}
.profile .left_box .skills ul li ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile .left_box .skills ul li ul li {
    width: 90%;
    text-align: center;
    font-size: 1.0417vw;
    font-weight: bold;
}
.profile .left_box .skills ul li ul li:first-child {
    height: 7.8125vw;
}
.profile .left_box .skills ul > li:nth-of-type(1) ul li:first-child {
    background: url(../images/htmlImg.png) center no-repeat;
    background-size: 100% auto;
}
.profile .left_box .skills ul > li:nth-of-type(2) ul li:first-child {
    background: url(../images/cssImg.png) center no-repeat;
    background-size: 100% auto;
}
.profile .left_box .skills ul > li:nth-of-type(3) ul li:first-child {
    background: url(../images/jsImg.png) center no-repeat;
    background-size: 100% auto;
}
.profile .left_box .skills ul > li:nth-of-type(4) ul li:first-child {
    background: url(../images/jqueryImg.png) center no-repeat;
    background-size: 100% auto;
}
.profile .left_box .skills ul > li:nth-of-type(5) ul li:first-child {
    background: url(../images/sassImg.png) center no-repeat;
    background-size: 100% auto;
}
.profile .left_box .skills ul > li:nth-of-type(6) ul li:first-child {
    background: url(../images/reactImg.svg) center no-repeat;
    background-size: 100% auto;
}


.profile .right_box {
    height: 100%;
    width: 30%;
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile .right_box .line-scale {
    width: 2.6042vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.2083vw;
}
.profile .right_box .line-scale > div {
    background-color: #a36cd9;
    width: 0.2083vw;
    height: 2.5vw;
    border-radius: 0.1042vw;
    margin: 0.1042vw;
    animation-fill-mode: both;
    display: inline-block;
    animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}
.profile .right_box .line-scale > div:nth-of-type(2n) {
    animation-delay: -0.4s !important;
}
.profile .right_box .line-scale > div:nth-of-type(1), .profile .right_box .line-scale > div:nth-of-type(5) {
    animation-delay: -0.2s !important;
}
.profile .right_box .profile_img {
    width: 60%;
    height: 18.9656vw;
    border-radius: 50%;
    background: url(../images/profile_img.jpg) no-repeat;
    background-size: 100% auto;
    background-position: top center;
    position: relative;
    margin-top: 1.5625vw;
}
.profile .right_box h3 {
    font-size: 1.5625vw;
    color: #fff;
    margin: 2vw auto 2.5vw;
    font-family: 'ghanachoco';
}
.profile .right_box p {
    font-size: 1.0417vw;
    color: #d9d9d9;
    text-align: center;
    line-height: 1.2vw;
}

@media (max-width: 768px) {
    .profile .right_box p {
        font-size: 0.3vw;
        color: #d9d9d9;
        text-align: center;
        line-height: 1.5vw;
    }
}
@media (max-width: 480px) {
    .profile {
        height: 130vw;
        flex-direction: column-reverse;
    }
    .profile .right_box {
        width: 100%;
        height: 60%;
        justify-content: center;
    }
    .profile .right_box .line-scale {
        margin-top: 0;
    }
    .profile .right_box .profile_img {
        width: 40.43%;
        height: 50%;
    }
    .profile .right_box p {
        line-height: 2.3vw;
    }

    .profile .left_box {
        width: 80%;
        height: 40%;
    }
    .profile .left_box .skills ul li ul li:first-child {
        height: 12vw;
    }
}


/* 디자인영역 */
.design {
    height: 48.9583vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: url(../images/cursor.cur), auto;
    position: relative;
    overflow: hidden;
}
.design .slider_wrap {
    width: 75%;
    height: 100%;
    z-index: 10;
    transform: translateX(3.6458vw);
}
.design .slider_wrap .bx-wrapper {
    width: 100%;
    height: 100%;
}
.design .slider_wrap ul {
    height: 100%;
    display: flex;
    align-items: center;
}
.design .slider_wrap ul li {
    width: 26.0417vw;
    height: 48.9583vw;
    display: flex;
    align-items: center;
}
.design .slider_wrap ul li > div {
    width: 100%;
    height: 36.4583vw;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.0521vw 0.1563vw rgba(0, 0, 0, 0.12),
    0 0.0521vw 0.1042vw rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.design .slider_wrap ul li:nth-of-type(9) > div {
    height: 32.6042vw;
    overflow: hidden;
}
.design .slider_wrap ul li:nth-of-type(10) > div {
    height: 32.6042vw;
    overflow: hidden;
}
.design .slider_wrap ul li > div:hover {
    box-shadow: 0 10.2083vw 1.4583vw rgba(0,0,0,0.25), 0 0.5208vw 0.5208vw rgba(0,0,0,0.22);
}
.design .slider_wrap ul li > div img {
    width: 100%;
    height: auto;
}
.design .slider_wrap ul li > div .text {
    position: absolute;
    bottom: -5.2083vw;
    width: 100%;
    height: 10.4167vw;
    border-radius: 1.5625vw 1.5625vw 0 0;
    background-color: rgba(255,255,255,0.8);
    transition: all .5s;
    z-index: 1;
}
.design .slider_wrap ul li > div:hover .text {
    bottom: 0;
}
.design .slider_wrap ul li > div .text i {
    height: 1.5625vw;
    font-size: 2.5vw;
    margin: 0.5208vw 0 0 47%;
    color: rgba(0,0,0,0.5);
    transition: all .5s;
}
.design .slider_wrap ul li > div:hover .text i {
    color: rgba(0,0,0,0.9);
    transform: rotateZ(180deg);
}
.design .slider_wrap ul li > div .text p {
    display: block;
    color: #0d0d0d;
    font-size: 1.25vw;
    font-weight: bold;
    margin: 0 0 30.2604vw;
    text-align: center;
}
.design .slider_wrap ul li > div .text > a {
    display: block;
    width: 12.6042vw;
    height: 2.0833vw;
    line-height: 2.0833vw;
    border-radius: 1.0417vw;
    border: 0.1042vw solid #a36cd9;
    margin: 0 auto;
    text-align: center;
    color: #a36cd9;
    font-size: 1.0417vw;
    font-family: 'Goyang';
    transition: all .5s;
    z-index: 10;
    cursor: url(../images/cursor.cur), auto;
}
.design .slider_wrap ul li > div .text > a:hover {
    background-color: #a36cd9;
    color: #fff;
}

/* controls와 pager */
.design .slider_wrap .bx-wrapper {
    position: relative;
}
.design .slider_wrap .bx-wrapper .bx-controls {
    position: absolute;
    left: -5.2083vw;
    top: 65%;
    z-index: 10;
    width: 3.6458vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-indent: -9999px;
}
.design .slider_wrap .bx-wrapper .bx-controls .bx-controls-direction {
    width: 1.5625vw;
    height: 1.5625vw;
    position: relative;
}
.design .slider_wrap .bx-wrapper .bx-controls .bx-controls-direction .bx-next {
    display: inline-block;
    width: 1.5625vw;
    height: 1.5625vw;
    background: url(../images/arrow_left.svg) center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    cursor: url(../images/cursor.cur), auto;
}
.design .slider_wrap .bx-wrapper .bx-controls .bx-controls-direction .bx-prev {
    display: none;
}
/* .design .slider_wrap .bx-wrapper .bx-controls .bx-pager {
    height: 15.625vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.design .slider_wrap .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
    position: relative;
    width: 0.5208vw;
    height: 1.5625vw;
}
.design .slider_wrap .bx-wrapper .bx-controls .bx-pager .bx-pager-item > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5208vw;
    height: 1.5625vw;
    border-radius: 10.2604vw;
    background-color: rgba(163,108,217,0.5);
    transition: all .5s;
}
.design .slider_wrap .bx-wrapper .bx-controls .bx-pager .bx-pager-item > a.active {
    background-color: rgba(163,108,217,0.9);
} */

.design .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #b796d9;
    /* background: linear-gradient(180deg, rgba(228,206,242,1) 0%, rgba(197,167,217,1) 25%, rgba(183,150,217,1) 50%, rgba(163,108,217,1) 75%, rgba(94,62,125,1) 100%); */
    z-index: 1;
    right: -100%;
    bottom: 0;
}
.design .background.ani {
    animation: left_show .8s forwards ease-in, small .8s .8s forwards ease-in-out, border .5s 1.6s forwards ease-in;
}

/* 퍼블리싱영역 */
.publishing {
    height: 111.0417vw;
    background-color: #c5a7d9;
    display: flex;
    justify-content: flex-end;
}
.publishing .slider_wrap {
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    position: relative;
}
.publishing .slider_wrap .bx-wrapper {
    height: 100%;
}
.publishing .slider_wrap .bx-wrapper ul li ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4.1667vw;
}
.publishing .slider_wrap .bx-wrapper ul li ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.publishing .slider_wrap .bx-wrapper ul li ul li:nth-of-type(1) {
    margin-bottom: 11.0417vw;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .text {
    width: 45%;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(2n) ul li:nth-of-type(1) .text {
    padding-left: 2.6042vw;
    box-sizing: border-box;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(2n) ul li:nth-of-type(2) .text {
    padding-left: 21.5625vw;
    box-sizing: border-box;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(2n+1) ul li:nth-of-type(1) .text {
    padding-left: 21.5625vw;
    box-sizing: border-box;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(2n+1) ul li:nth-of-type(2) .text {
    padding-left: 2.6042vw;
    box-sizing: border-box;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .text h3 {
    color: #0d0d0d;
    font-size: 2.3333vw;
    font-weight: bold;
    margin-bottom: 20.2604vw;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .text h3 span {
    display: inline-block;
    margin-right: 1.5625vw;
    font-size: 3.3333vw;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    text-shadow: 0.1042vw 0.1042vw 0 #b796d9;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .text > div {
    margin-left: 60.2604vw;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .text > div h4 {
    font-size: 1.25vw;
    font-weight: bold;
    color: #0d0d0d;
    margin-bottom: 0.5208vw;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .text > div h4 i {
    margin-right: 0.5208vw;
    color: #a36cd9;
    font-size: 1.0417vw;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .text > div p {
    font-family: 'Goyang';
    font-size: 1.25vw;
    display: block;
    margin: 0 0 20.2604vw 30.2604vw;
    width: 15.625vw;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .text > div p:nth-of-type(1) > span {
    display: inline-block;
    margin-top: 0.4167vw;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .text > div p:nth-of-type(1) > span::before {
    content: "";
    display: inline-block;
    width: 1.25vw;
    height: 1.25vw;
    margin-right: 0.2604vw;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .text > div p:nth-of-type(1) > span:nth-of-type(1)::before {
    background: url(../images/photoshop_icon.png) center no-repeat;
    background-size: 100% auto;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .text > div p:nth-of-type(1) > span:nth-of-type(2)::before {
    background: url(../images/illustrator_icon.png) center no-repeat;
    background-size: 100% auto;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .text > div p:nth-of-type(1) > span:nth-of-type(3)::before {
    background: url(../images/html_icon.png) center no-repeat;
    background-size: 100% auto;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .text > div p:nth-of-type(1) > span:nth-of-type(4)::before {
    background: url(../images/css_icon.png) center no-repeat;
    background-size: 100% auto;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .text > div p:nth-of-type(1) > span:nth-of-type(5)::before {
    background: url(../images/jquery_icon.png) center no-repeat;
    background-size: 100% auto;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .text > div p:nth-of-type(3) > span > em {
    display: inline-block;
    width: 1.5625vw;
    height: 1.5625vw;
    line-height: 1.5625vw;
    border-radius: 10.2604vw;
    color: #fff;
    font-size: 0.8333vw;
    text-align: center;
    margin-right: 0.2604vw;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(2) ul li:nth-of-type(1) .text > div p:nth-of-type(3) > span:nth-of-type(1) > em {
    background-color: #293896;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(2) ul li:nth-of-type(1) .text > div p:nth-of-type(3) > span:nth-of-type(2) > em {
    background-color: #009dfc;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(2) ul li:nth-of-type(2) .text > div p:nth-of-type(3) > span:nth-of-type(1) > em {
    background-color: #deb853;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(2) ul li:nth-of-type(2) .text > div p:nth-of-type(3) > span:nth-of-type(2) > em {
    background-color: #e06a4e;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(3) ul li:nth-of-type(1) .text > div p:nth-of-type(3) > span:nth-of-type(1) > em {
    background-color: #3e4aa1;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(3) ul li:nth-of-type(1) .text > div p:nth-of-type(3) > span:nth-of-type(2) > em {
    background-color: #dbbd56;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(3) ul li:nth-of-type(2) .text > div p:nth-of-type(3) > span:nth-of-type(1) > em {
    background-color: #2a4699;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(3) ul li:nth-of-type(2) .text > div p:nth-of-type(3) > span:nth-of-type(2) > em {
    background-color: #3cbade;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(4) ul li:nth-of-type(1) .text > div p:nth-of-type(3) > span:nth-of-type(1) > em {
    background-color: #660b0b;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(4) ul li:nth-of-type(1) .text > div p:nth-of-type(3) > span:nth-of-type(2) > em {
    background-color: #c59952;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(4) ul li:nth-of-type(2) .text > div p:nth-of-type(3) > span:nth-of-type(1) > em {
    background-color: #cae3c6;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(4) ul li:nth-of-type(2) .text > div p:nth-of-type(3) > span:nth-of-type(2) > em {
    background-color: #ffd85f;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(5) ul li:nth-of-type(1) .text > div p:nth-of-type(3) > span:nth-of-type(1) > em {
    background-color: #3e4434;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(5) ul li:nth-of-type(1) .text > div p:nth-of-type(3) > span:nth-of-type(2) > em {
    background-color: #aeac9c;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(5) ul li:nth-of-type(2) .text > div p:nth-of-type(3) > span:nth-of-type(1) > em {
    background-color: #003e47;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(5) ul li:nth-of-type(2) .text > div p:nth-of-type(3) > span:nth-of-type(2) > em {
    background-color: #009dad;
}

.publishing .slider_wrap .bx-wrapper ul li ul li .img_box {
    position: relative;
    overflow: hidden;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(2n) ul li .img_box {
    width: 50%;
    height: 410.1563vw;
    border-radius: 15.625vw 0 15.625vw 0;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(2n+1) ul li .img_box {
    width: 50%;
    height: 410.1563vw;
    border-radius: 0 15.625vw 0 15.625vw;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(2) ul li:nth-of-type(1) .img_box {
    background: url(../images/publishing_img01.jpg) top center no-repeat;
    background-size: 100% auto;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(2) ul li:nth-of-type(2) .img_box {
    background: url(../images/publishing_img02.jpg) top center no-repeat;
    background-size: 100% auto;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(3) ul li:nth-of-type(1) .img_box {
    background: url(../images/publishing_img03.jpg) top center no-repeat;
    background-size: 100% auto;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(3) ul li:nth-of-type(2) .img_box {
    background: url(../images/publishing_img04.jpg) top center no-repeat;
    background-size: 100% auto;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(4) ul li:nth-of-type(1) .img_box {
    background: url(../images/publishing_img05.jpg) top center no-repeat;
    background-size: 100% auto;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(4) ul li:nth-of-type(2) .img_box {
    background: url(../images/publishing_img06.jpg) top center no-repeat;
    background-size: auto 100%;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(5) ul li:nth-of-type(1) .img_box {
    background: url(../images/publishing_img07.jpg) top center no-repeat;
    background-size: 100% auto;
}
.publishing .slider_wrap .bx-wrapper ul li:nth-of-type(5) ul li:nth-of-type(2) .img_box {
    background: url(../images/publishing_img08.jpg) top center no-repeat;
    background-size: 100% auto;
}

.publishing .slider_wrap .bx-wrapper ul li ul li .img_box .white_box {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    transition: all .5s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .img_box:hover .white_box {
    opacity: 1;
}
.publishing .slider_wrap .bx-wrapper ul li ul li .img_box .white_box > a {
    display: block;
    width: 10.4167vw;
    height: 2.6042vw;
    line-height: 2.6042vw;
    border-radius: 1.0417vw;
    border: 0.1042vw solid #a36cd9;
    text-align: center;
    color: #a36cd9;
    font-size: 1.25vw;
    font-family: 'Goyang';
    transition: all .5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.publishing .slider_wrap .bx-wrapper ul li ul li .img_box .white_box > a:hover {
    background-color: #a36cd9;
    color: #fff;
}

/* controls와 pager */
.publishing .slider_wrap .bx-controls {
    position: relative;
    width: 100%;
    height: 70.2604vw;
    text-indent: -9999px;
    top: -51.5625vw;
}
.publishing .slider_wrap .bx-controls .bx-controls-direction {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.publishing .slider_wrap .bx-controls .bx-pager {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15.625vw;
    height: 1.5625vw;
    display: flex;
    justify-content: space-between;
}
.publishing .slider_wrap .bx-controls .bx-controls-direction .bx-prev {
    display: inline-block;
    width: 1.5625vw;
    height: 1.5625vw;
    background: url(../images/arrow_left.svg) center no-repeat;
    opacity: 0.5;
    transition: all .5s;
}
.publishing .slider_wrap .bx-controls .bx-controls-direction .bx-next {
    display: inline-block;
    width: 1.5625vw;
    height: 1.5625vw;
    background: url(../images/arrow_right.svg) center no-repeat;
    opacity: 0.5;
    transition: all .5s;
}
.publishing .slider_wrap .bx-controls .bx-controls-direction .bx-prev:hover {
    opacity: 1;
}
.publishing .slider_wrap .bx-controls .bx-controls-direction .bx-next:hover {
    opacity: 1;
}
.publishing .slider_wrap .bx-controls .bx-pager .bx-pager-item {
    width: 25%;
    position: relative;
}
.publishing .slider_wrap .bx-controls .bx-pager .bx-pager-item > a {
    display: inline-block;
    width: 1.0417vw;
    height: 1.0417vw;
    border-radius: 0.5208vw;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.publishing .slider_wrap .bx-controls .bx-pager .bx-pager-item > a.active {
    background-color: rgba(0,0,0,1);
}
.publishing .slider_wrap .bx-controls .bx-pager .bx-pager-item > a.active::after {
    content: "";
    display: inline-block;
    width: 1.5625vw;
    height: 1.5625vw;
    border-radius: 10.2604vw;
    border: 0.0521vw solid #000;
    position: absolute;
}

/* 컨택트영역 */
.contact {
    height: 15.625vw;
    background-color: #2e2e2e;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contact h2 {
    color: #fff;
}
.contact > div {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.contact > div > div {
    display: flex;
    align-items: center;
}
.contact > div > div i {
    color: #a36cd9;
    font-size: 2rem;
    margin-right: 1.0417vw;
}
.contact > div > div p {
    font-size: 1.9rem;
    color: #b9b9b9;
}
.contact > p {
    font-size: 0.875rem;
    color: #ccc;
}




/* 애니메이션영역 */
@keyframes animate {
	0% {
		transform: translateY(0px);
	}
	30% {
		transform: translateY(-1.5625vw);
	}
	80%,
	100% {
		transform: translateY(0px);
	}
}
@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(1.5625vw);
    }

    67% {
        opacity: 1;
        transform: translateY(2.0833vw);
    }

    100% {
        opacity: 0;
        transform: translateY(3.2604vw) scale3d(0.5, 0.5, 0.5);
    }
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}
/* @keyframes line {
    from {
        stroke-dashoffset: 377;
    }
    to {
        stroke-dashoffset: 0;
    }
} */
@keyframes line-scale-pulse-out {
    0% {
      -webkit-transform: scaley(1);
      transform: scaley(1);
    }
    50% {
      -webkit-transform: scaley(0.4);
      transform: scaley(0.4);
    }
    100% {
      -webkit-transform: scaley(1);
      transform: scaley(1);
    }
  }
  @keyframes left_show {
    0% {}
    50% {
        right: 0;
    }
    100% {
        right: -20%;
    }
}
@keyframes small {
    0% {}
    50% {
        height: 50%;
        bottom: 50%;
    }
    100% {
        height: 65%;
        bottom: 0;
    }
}
@keyframes border {
    0% {}
    100% {
        border-radius: 15.625vw 0 0 15.625vw;
    }
}